
<div class="card mx-auto" style="width: 20rem;"> 
    
     <div class="card-body"> 
      username:<h5 class="card-title">{{userObj.username}}</h5> 
      email: <h5 class="card-title">{{userObj.email}}</h5> 
      address:  <h5 class="card-title">{{userObj.address}}</h5> 
      city:  <h5 class="card-title">{{userObj.city}}</h5> 
      state:   <h5 class="card-title">{{userObj.state}}</h5> 
      pincode:  <h5 class="card-title">{{userObj.pincode}}</h5> 

          <button class="btn btn-primary" (click)="updateprofile()">Update profile</button>
        </div> 
</div>
